<main class="main-section">
    <div class="box">
        <p>
            Hello. My name is <span>Alexandre Mouton-Brady</span> and I have creative ideas and build websites
        </p>
        <button type="button"><%= link_to 'View my work', '/portfolio' %></button>
    </div>
</main>