<header>
    <ul class="main-nav">
        <li><a href="#">Welcome</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li>Alexandre Mouton-Brady</li>
    </ul>    
</header>

<main class="main-section">
    <div class="box">
        <p>
            Hello. My name is <span>Alexandre Mouton-Brady</span> and I have creative ideas and build websites
        </p>
        <button type="button">View my work</button>
    </div>
</main>

<footer class="main-footer">
    <ul>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li>&copy; Alexandre Mouton-Brady</li>
    </ul>
</footer>