<main>
    <div class="my-slider">
	<ul>
		<li><img src="http://i.imgur.com/EGJttzK.png" alt=""></li>
		<li><img src="http://i.imgur.com/SlPo9LH.png" alt=""></li>
		<li><img src="http://i.imgur.com/FPUp4dH.png" alt=""></li>
	</ul>
    </div>
    <div class="center">
        <div class="duo">
            <div class="post">
                <a href="#">
                    <img src="http://i.imgur.com/EGJttzK.png" alt="">
                    <h2>We are broadway</h2>
                    <p>
                        Broadway application
                    </p>
                </a>
            </div>
            <div class="post">
                <a href="#">
                    <img src="http://i.imgur.com/uawRPFI.png" alt="">
                    <h2>Bolt network</h2>
                    <p>
                        Bolt network application
                    </p>
                </a>
            </div>
        </div>
        <div class="duo">
            <div class="post">
                <a href="#">
                    <img src="http://i.imgur.com/FPUp4dH.png" alt="">
                    <h2>Innovation cloud</h2>
                    <p>
                        Innovation cloud application
                    </p>
                </a>
            </div>
            <div class="post">
                <a href="#">
                    <img src="http://i.imgur.com/SlPo9LH.png" alt="">
                    <h2>Bass music</h2>
                    <p>
                        Bass music application
                    </p>
                </a>
            </div>
        </div>
        <div class="duo">
            <div class="post">
                <a href="#">
                    <img src="http://i.imgur.com/bixWPAR.png" alt="">
                    <h2>Threadly</h2>
                    <p>
                        Threadly application
                    </p>
                </a>
            </div>
            <div class="post">
                <a href="#">
                    <img src="http://i.imgur.com/hRlYI7v.png" alt="">
                    <h2>Bookmarks</h2>
                    <p>
                        Bookmarks application
                    </p>
                </a>
            </div>
        </div>
    </div>
</main>


<script>
	$(document).ready(function($) {
		$('.my-slider').unslider({
            autoplay: true,
            infinite: true,
            arrows: true,
        });
	});
</script>   
