<div class="bio">
    <img src="http://i.imgur.com/2jFvkJu.jpg" alt="">
    <h1>Alexandre Mouton-Brady</h1>
    <p>
        I was born in 1994 in Versailles, France. I've witness the growth of internet
        and grew with it. I'm a child of the web and always been interested in new technologies,
        computer and most recently into smartphones.
    </p>
    <p>
        After a long question on what I'd do with my future, I decided to go with the programming path
        which totally suits me now. I started back in september 2015 with a two years formation. In the mean
        time I read everyday stuff about it and learn new programming languages.
    </p>
    <p>
        I have knowledge about the following ones :
        <ul>
            <li>Python</li>
            <li>Ruby (including Ruby on Rails)</li>
            <li>C++</li>
            <li>C#</li>
            <li>HTML / CSS / JavaScript (including jQuery)</li>
        </ul>
    </p>
</div>
