<div class="contact">
    <h1>Let's get in touch</h1>
    <ul>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>  Email: amoutonbrady@gmail.com</li>
        <li><i class="fa fa-github-square" aria-hidden="true"></i>  GitHub: <%= link_to 'here', 'https://github.com/alexandre-mouton-brady', target: '_blank' %></li>
        <li><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn: <%= link_to 'here', 'https://www.linkedin.com/in/alexandre-mouton-brady-727518119', target: '_blank' %></li>
        <li><i class="fa fa-twitch" aria-hidden="true"></i>  Twitch: <%= link_to 'here', 'https://www.twitch.tv/dexter36', target: '_blank' %></li>
    </ul>
</div>